@{
    ViewData["Title"] = "Search";
    ViewData["ShowButtons"] = true;

}

<h1>Choose your Ingredients</h1>

<style>
    .btn {
        width: 75px;
    }
</style>

<br />

@if (Model == null)
{
    <tr>
        <td>
            Ingredient doesn't exists!!!!
        </td>
    </tr>
}
else
{

    @using (Html.BeginForm("Index", "Search"))
    {
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <input name="checkIngredient" type="checkbox" value="@item.Name" /> @item.Name
                    <script>var data1 = $('#checkIngredient').attr('value');</script>

                    </td>
                </tr>
            }
        </table>
        <div class="input-group-append">
            <button class="btn btn-primary" name="Start" type="submit"> START </button>
        </div>
    }
}

<script>

    $.ajax({
        type: "GET",
        url: "SearchController\Index",
        data: { input1: data1, input2: data2 },
    });
</script>

<br />
<br />
