@{
    ViewData["Title"] = "Search";
    ViewData["ShowButtons"] = true;


}

<h1>Choose your Ingredients</h1>


<style>
    .btn {
        width: 75px;
    }
</style>

<br />
<table>
    @if (Model == null)
    {
        <tr>
            <td>
                Ingredient doesn't exists!!!!
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <input id="isActive" name="isActive" type="checkbox" value="false" /> @item.Name
                </td>
            </tr>
        }
    }
</table>
<br />
<br />
<div class="input-group-append">
    <button class="btn btn-primary" name="Start" type="submit"  onclick="location.href='@Url.Action("Index", "Home")'"> START </button>
</div>

