@using grep_food.DomainEntities;
@{
    ViewData["Title"] = "Search";
    ViewData["ShowButtons"] = true;

}

<h1>Choose your Ingredients</h1>

<style>
    .btn {
        width: 75px;
    }
</style>

<br />

@if (Model == null)
{
    <tr>
        <td>
            Ingredient doesn't exists!!!!
        </td>
    </tr>
}
else
{

    <form action="/Search/Index" method="post">
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        <input name="checkIngredient" type="checkbox" value="@item.Name" /> @item.Name

                    </td>
                </tr>
            }
        </table>
        <div class="input-group-append">
            <button class="btn btn-primary" name="Start" type="submit"> START </button>
        </div>
    </form>
}


<br />
<br />

