@{
    ViewData["Title"] = "Recipe";
    ViewData["ShowButtons"] = true;


}
@*@model IEnumerable<grep_food.Models.BaseIngredientViewModel>*@
<html>


<head>

    <style>
        body {
            background-color: #000000;
            font-size: xxx-large;
            color: steelblue;
            text-align: center;
            padding: 20px;
        }
    </style>

</head>
<body>

    Hello werdl
    <table>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }*@

    </table>
</body>

</html>
@{

}
